.shorter {
    max-width: 1000px;
}
.wrapper {
    padding: 3% 4%;
}
.footer {
    padding: 4%;
    color: darkgrey;
}
@media screen and (min-width: 768px) {
    .wrapper {
        padding: 2% 8%;
    }
    .footer {
        padding: 8%
    }
}
@media screen and (min-width: 900px) {
    .wrapper {
        padding: 1.5% 12%;
    }
    .footer {
        padding: 10%
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        padding: 1% 14%;
    }
    .footer {
        padding: 10%
    }
}
