.shorter {
    max-width: 800px;
}
.wrapper {
    padding: 2% 5%;
}
.footer {
    padding: 4%;
    color: darkgrey;
}
@media screen and (min-width: 768px) {
    .wrapper {
        padding: 2% 8%;
    }
    .footer {
        padding: 8%
    }
}
@media screen and (min-width: 900px) {
    .wrapper {
        padding: 1.5% 12%;
    }
    .footer {
        padding: 10%
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        padding: 1% 12%;
    }
    .footer {
        padding: 10%
    }
}
